@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600&family=Roboto:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
}
*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;

}

img{
    width: 100%;

}

a{
    text-decoration: none;
}
/*Background behind the container*/
.big-wrapper{
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*To modify the middle container where all the components are there*/
.container{
    position: relative;
    background-color: rgb(255, 255, 255);
    max-width: 87rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

header{
    position: relative;
    z-index: 70;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*overlay styling*/
.overlay{
    display: none;
}
/*adjusting the place of the logo */
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*Image Logo adjustments and */
.logo img{
    width: 70px;
    margin-right: .6rem;
    margin-top: -0.6rem;
    transition: 0.3s;   
}

.logo img:hover{
    transform: scale(1.22);
}


/*Image of the face*/
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    width: 14rem;
    height: 17rem;
    margin-left: 20rem;
    
}

.right:hover{
    transform: scale(1.22);
}

/*bk img*/


/*For the font size styles of the FaceXrec*/
.logo h3{
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700;
}

/*Heading */
h1{
    background-image: linear-gradient(90deg,red,blue );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    
}

/*Alignment of the links in the navbar like to the horizontally spaced etc*/
.links ul{
    display: flex;
    list-style: none;
    align-items: center;
}

/*For the links in the navbar like Login aboutus etc*/
.links a{
    margin-left: 4.5rem;
    display: inline-block;
    transition: 0.3s;
    
}
/*For the hover effect of the links like Login aboutus etc*/
.links a:hover{
    transform: scale(3);
}

/*3 line menu*/
.ham-menu{
    position: relative;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    background-color: #EFFFFD;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

/*ham menu with the three lines*/
.ham-menu .three-bars{
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;

}
.three-bars::before, 
.three-bars::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    transition: 0.7s;
    
}

.three-bars::before{
    transform: translateY(-8px);
}
.three-bars::after{
    transform: translateY(8px);
 }

 /*The following make the middle white line disappears on cliking on it*/
.big-wrapper.active .ham-menu .three-bars {
    background-color: transparent;
    transition: 0.01s;
}

.big-wrapper.active .three-bars::before{
    transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .three-bars::after{
    transform: translateY(0) rotate(45deg);
}


/**/
.showcase-area .container{
    display: grid; /*This should be grid to display the following function*/
    grid-template-columns: repeat(2, 1fr);/*Divides the middel space into the two equal parts*/
    align-items: center; 
    justify-content: center;
}

.big-title{
    font-size: 1.4rem;
    text-transform: capitalize;
    line-height: 1.4;
}

.text{
    font-size: 1.14rem;
    margin: 1.9rem;
    max-width: 600px;
    line-height: 2.3;
}

.face{
    width: 123%;
    transform: translate(15%, 25px);
    margin-bottom: 3rem;
}

@media screen and (max-width: 870px) {
   .showcase-area .container{
    grid-template-columns: 1fr;
   }

   .face{
    width: 100%;
    transform: none;
    
   }

   .ham-menu{
    display: flex;
    
   }

   .links{
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: rgb(82, 176, 227);
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: .5s;
 

   }

   .links ul{
    flex-direction: column;
   }
   .links a{
    color: aliceblue;
    margin: 0;
    padding: 2rem 0 ;
}

.overlay{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    
}

.big-wrapper.active .links{
    transform:  translateX(0);
    box-shadow: 0 0 50px 2px rgba(0,0,0,0.4);
}
}

